:root {
  --clr-gradient-1: #F3F3F3;
  --clr-gradient-6: #0D0D0D;
  --clr-gradient-7: #000000;
  --clr-highlight-red: #962D3E;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-gradient-6);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-gradient-1);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container {
  display: flex;
}

.player-name {
  grid-column: 1/-1;
  justify-self: center;
  font-size: 3rem;
}

.round-info {
  font-size: 2rem;
}

.card {
  margin: .5rem;
  height: 200px;
  width: 125px;
  background-color: var(--clr-highlight-red);
  border-radius: .5rem;
  position: relative;
  border: 1px solid var(--clr-gradient-7);
}

.active-card {
  background-color: var(--clr-gradient-1);
}

.active-card.draw {
  margin-left: -100px;
}

.active-card.face-down {
  transform: rotateY(180deg);
  background-color: var(--clr-highlight-red);
}

.card.deck {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.suit.center {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.card-value-suit {
  display: flex;
  align-items: center;
}

.card-value-suit.top {
  position: absolute;
  top: 2%;
  left: 2%;
}

.card-value-suit.bottom {
  position: absolute;
  bottom: 2%;
  right: 2%;
  transform: rotate(180deg);
}

.value {
  font-size: 1.5rem;
  margin-right: .25rem;
  color: var(--clr-gradient-6);
}

.suit {
  width: 15%;
}

.card-count {
  color: var(--clr-gradient-6);
}